.select-flow {
    overflow: hidden;
    max-height: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;

    .title {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .select-all-option {
            align-items: center;
            justify-content: center;

            #select-all {
                width: 1rem;
                height: 1rem;
            }

            #label-select-all {
                font-size: var(--text-size);
            }
        }
    }


    .people-list {
        width: 100%;
        /* list-style-type: none; */
        margin: 0;
        padding: 0;
        overflow: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: flex-start;
        flex-grow: 1;



        .is-person {
            width: 40%;
            height: 20%;
            text-align: center;
            margin: 1rem 0rem;
            padding: .5rem 0;
            /* gap: 2rem; */
            border-radius: 5px;
            background-color: var(--list-background);
            border: 1px solid var(--border-list);
            /* justify-content: space-evenly; */
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            &:hover {
                background-color: var(--list-hover);
            }

            .person-option {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 2rem;
                width: 100%;

                .icon {
                    transform: scale(1);
                }
            }

            .person-content {
                display: flex;
                justify-content: space-evenly;
                margin: 0 0;
                width: 100%;

                .profile-picture {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                }
            }

            .person-attribut {
                align-items: flex-start;
                font-size: small;
                display: flex;
                justify-content: space-between;
            }
        }

    }

    .checkbox {
        width: 1rem;
        height: 1rem;
    }
}