.hide-navbar {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--navbar-color);
    border: none;
    width: 2rem;
    height: 3rem;
    top: calc(50% - 1.5rem);
    left: calc(var(--navbar-width) - .5rem);
    border-radius: 5px;
    transition-duration: 400ms;
}

.navbar-hidden>.row {
    display: none;
}

.navbarRow {
    width: 100%;
    align-items: flex-start;
    height: fit-content;

    /* select {
        font-size: var(--text-size);
    } */
}

#filtre-poste,
#choix-poste,
#choix-poste-modif {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}


#select-poste>.is-option {
    display: none;

    &.SI {
        display: block;
    }
}

.is-select {
    border-radius: 5px;
    font-size: var(--text-size);
    color: var(--text-color);
    background-color: var(--input-background);
    border: var(--border-option);
    outline: none;
    text-overflow: clip;
    font-size: var(--text-size);
    height: 3rem;
    flex-grow: 1;

    &#select-poste {
        border-radius: 0px;
        width: 40%;
    }

    &#select-cat,
    #select-cat-ajout,
    #select-cat-modif {
        width: 45%;
        border-width: 1px 0px 1px 1px;
    }

    &.alone {
        border-radius: 5px;
    }

    &.select-cat {
        border-radius: 5px 0 0 5px;
    }
}

.submit-poste {
    width: 20%;
    border-radius: 0 5px 5px 0;
    border: none;
    height: 3rem;
    flex-grow: 1;
    font-size: var(--text-size);
    text-align: center;
    align-content: center;
}

.option {
    margin: 0;
    padding: 0;
    width: 100%;
}