:root {
    --background: #f9f9f9;
    /* linear-gradient(to right, #ffe7c4, #ffffff, #fffaf0); */
    --title-color: rgb(0, 17, 72);
    --text-color: rgb(2, 0, 38);
    --text-size: 1rem;
    --box-background: white;
    --button-color: #68c4d4c4;
    --button-hover: #4bbdd1c4;
    /* --option-background: #ffffff; */
    --box-shadow: 0px 0px 27px 0px rgba(142, 136, 136, 0.75);
    --navbar-width: 30%;
    --navbar-color: white;
    --list-background: #f2f2f2;
    /* #ffe2c4b4; */
    --list-hover: #e2e2e2;
    /* #f6d3b0bb; */
    --border-list: #cbcbcb;
    --border-option: 1px solid rgb(202, 202, 202);
    --transition: 400ms;
    --input-background: #e3e3e3;
}

.is-dark {
    --background: #1d1d1d
        /* linear-gradient(to right, #242424, #333333, #404040) */
    ;
    --title-color: rgb(255, 255, 255);
    --text-color: rgb(255, 255, 255);
    --box-background: rgb(8, 8, 12);
    /* --button-color: rgb(0, 50, 84); */
    /* --button-hover: rgb(0, 34, 81); */
    /* --option-background: #000000; */
    --box-shadow: 0px 0px 27px 0px rgba(142, 136, 136, 0.75);
    --navbar-width: 30%;
    --navbar-color: rgb(13, 13, 13);
    --list-background: #1111115e;
    --list-hover: #0000005e;
    --border-option: 1px solid rgb(53, 53, 53);
    --border-list: #aaa;
    --transition: 400ms;
    --input-background: #444;
}

.navbar-hidden {
    --navbar-width: 0%;
}